*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box
}
*::after{
    box-sizing: border-box
}
body{
    height: 100vh;
    
}
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    
}
#code{
    
    width: 50%;
    color: #e6a541;
    background: #2c3643;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif
}
.preview{
    
    width: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#87B9F6;
    position: relative;
    z-index: -7;
}
#peppa{
    position: relative;
    width: 280px;
    height: 382px;
}
#peppa *{
    position: absolute;
}
.ground {
    position: absolute;
    margin: auto;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
    background-color: #77C76E;
    border-radius: 50% 50% 50% 50% / 3% 9% 0% 0%;
    z-index: -6;
}
@media screen and (max-width:420px){
    .wrapper{
        flex-direction: column;
        height: 100vh;
    }
    #code{
        width: 100%;
        height: 30vh;
        font-size: 14px;
        overflow-x: hidden;
    }
    .preview{
        width: 100%;
        flex: 1
    }
}